In [2]:
import pandas as pd

df = pd.read_csv("game_data.csv")
df.head()

,id,title,genres
0,761140.0,Lost Summoner Kitty,"['Action', 'Casual', 'Indie', 'Simulation', 'S..."
1,643980.0,Ironbound,"['Free to Play', 'Indie', 'RPG', 'Strategy']"
2,670290.0,Real Pool 3D - Poolians,"['Casual', 'Free to Play', 'Indie', 'Simulatio..."
3,767400.0,f39b8eba2222,"['Action', 'Adventure', 'Casual']"
4,773570.0,NaN,NaN

In [4]:
df['id'] = pd.to_numeric(df['id'], errors='coerce').astype('Int64')

In [5]:
df.head()

,id,title,genres
0,761140,Lost Summoner Kitty,"['Action', 'Casual', 'Indie', 'Simulation', 'S..."
1,643980,Ironbound,"['Free to Play', 'Indie', 'RPG', 'Strategy']"
2,670290,Real Pool 3D - Poolians,"['Casual', 'Free to Play', 'Indie', 'Simulatio..."
3,767400,f39b8eba2222,"['Action', 'Adventure', 'Casual']"
4,773570,NaN,NaN

In [6]:
df = df.dropna(subset=['title', 'genres'])

In [7]:
df.head()

,id,title,genres
0,761140,Lost Summoner Kitty,"['Action', 'Casual', 'Indie', 'Simulation', 'S..."
1,643980,Ironbound,"['Free to Play', 'Indie', 'RPG', 'Strategy']"
2,670290,Real Pool 3D - Poolians,"['Casual', 'Free to Play', 'Indie', 'Simulatio..."
3,767400,f39b8eba2222,"['Action', 'Adventure', 'Casual']"
5,772540,Battle Royale Trainer,"['Action', 'Adventure', 'Simulation']"

In [8]:
df = df.reset_index(drop=True)

df.head()

,id,title,genres
0,761140,Lost Summoner Kitty,"['Action', 'Casual', 'Indie', 'Simulation', 'S..."
1,643980,Ironbound,"['Free to Play', 'Indie', 'RPG', 'Strategy']"
2,670290,Real Pool 3D - Poolians,"['Casual', 'Free to Play', 'Indie', 'Simulatio..."
3,767400,f39b8eba2222,"['Action', 'Adventure', 'Casual']"
4,772540,Battle Royale Trainer,"['Action', 'Adventure', 'Simulation']"

28851

## Reading user preferences

In [10]:
def is_in_file(fav__id, fav__rating):
    if(fav__id<1):
        print("GameID needs to start with 1!")
        return False

    if(fav__id not in df['id'].values):
        print("This Game ID does not exist!")
        return False

    if(fav__id in fav_id):
        print("You have already rated this!")
        return False

    if(fav__rating>10):
        print("Ratings must be below 10!")
        return False
    else:
        fav_id.append(fav__id)
        fav_rating.append(fav__rating)
        return True

In [11]:
fav_id=[]
fav_rating=[]

while(1):
    fav__id=int(input('Please enter game #1 id: '))
    fav__rating=int(input('Please enter game #1 rating out of 10: '))

    if(is_in_file(fav__id,fav__rating))==True:
      break

print("\n")

while(1):
    fav__id=int(input('Please enter game #2 id: '))
    fav__rating=int(input('Please enter game #2 rating out of 10: '))

    if(is_in_file(fav__id,fav__rating))==True:
      break

print("\n")

while(1):
    fav__id=int(input('Please enter game #3 id: '))
    fav__rating=int(input('Please enter game #3 rating out of 10: '))

    if(is_in_file(fav__id,fav__rating))==True:
      break


print("\n\n~~~~~~~~RATED GAMES~~~~~~~~~")

for i in range(0, 3):
    name = df[df['id'] == fav_id[i]]['title'].iloc[0]
    #rating = fav_rating[i]
    print("Game ID: {:<8} Game Name: {:<50} Rating: {:<1}/10".format(fav_id[i], name, fav_rating[i]))

~~~~~~~~RATED GAMES~~~~~~~~~
Game ID: 761140   Game Name: Lost Summoner Kitty                                Rating: 8/10
Game ID: 767400   Game Name: f39b8eba2222                                       Rating: 5/10
Game ID: 670290   Game Name: Real Pool 3D - Poolians                            Rating: 4/10

In [18]:
game_genres=[]

for i in range(0,3):
  #genres=df[df['if'] == fav_id[i]]['tags'].iloc[0].split('|')
  genres_str = df[df['id'] == fav_id[i]]['genres'].iloc[0].strip('[]')  # Remove square brackets
  genres_str = genres_str.replace("'", "")  # Remove single quotes
  genres = genres_str.split(", ")  # Split the string into a list



  for genre in genres:
    if genre not in game_genres:
      game_genres.append(genre)


#print(len(game_genres))
print(game_genres)

['Action', 'Casual', 'Indie', 'Simulation', 'Strategy', 'Adventure', 'Free to Play', 'Sports']